.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bigred {
  font-family: "Courier New", serif;
  font-style: italic;
  font-size: xx-large;
  color: red;
}

.greenTitle {
    font-weight: bold;
    font-size: 2.9vw;
    color: #006400;
}

.header{
    color: #006400;
}

.alertText {
    color: #FF1744;
    font-size: 2.9vw;
    margin: 3%;
}

.center {
    text-align: center;
}

.space{
    padding-bottom: 5%;
}

.lamp {
    height: 30px;
    width: 30px;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
}

.usersList {
    margin-top: 2px;
    margin-bottom: 2px;
    box-sizing: border-box;
    height: calc(80vh - 70px);
    overflow-y: hidden;
    overflow-x: hidden;
}

.userBubble {
    position: relative;
    padding: 5px;
    margin-bottom: -1em;
    margin-right: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}